<html>
    <head>
<title>

</title>
<style>

.fff{
    margin-top: 12vh;
    width: 30vw;
    margin-left: 35vw;
    box-shadow: 20px;
    background-color: #e1f3ff;
    padding: 12px;
    backdrop-filter: blur(5px);
	  box-shadow: 0 10px 10px rgba(0,0,0,0.1);

}
input[type="submit"]{
    margin-left: 10vw;
                background-color: green;
                color: aliceblue;
                border-radius: 5px;
                border-style: none;
                padding: 10px;
}

</style>
<script>
 
</script>
</head>
<body>
<header>

</header>    
<div class="fff">
<form action="http://127.0.0.1:5000/login2" method="post" enctype="multipart/form-data">
    Email<br><br><input type="email" name="email" required><br><br><br>
    Password<br><br><input type="password" name="password"> <br><br>
    <input type="submit">
</form>
<a href="register1.html" style="margin-left: 5vw;">new user register here!</a>
</div>
</body>
</html>