<html>
<head>
<style>
body{
    background-color: blueviolet;
}
.outer1{
    display: block;
    height: 70vh;
    width: 70vh;
    margin-left: 30vw;
    margin-top: 5vh;
    background-color:aliceblue;
    padding: 20px;
}
.outer1 img{
    display: block;
    height: 10vh;
    width: 10vh;
    top: 3vh;
    margin-top: 2vh;
    margin-left: 15vw;
    padding-top: 3vh;

}
li{
    list-style-type: none;
}


</style>
<script>



</script>
</head>
<body>
    <div class="outer1">
        <div class="upper">
            <img src="" alt="">
            <h2>NAME : BHARAT</h2>
            <h2>EMAIL : bhaart@123.com</h2>
        </div>
        <div>
            <h3>Applied jobs</h3>
            <div class="applied">
            <li>COMPANY</li>
            <li style="float:left;">JOB TITLE</li>
            <li style="float: left;">STATUS</li>
            <div>
        </div>
        
    </div>
</body>
</html>